# Copy this files to `.env.local` and set your own variables

MAILCHIMP_API_KEY=[your mailchimp api key]
MAILCHIMP_AUDIENCE_ID=[your mailchimp audience id]

GREENLIGHT_API_ENDPOINT=https://greenlight.operationspark.org/api
GREENLIGHT_API_TOKEN=[https://github.com/OperationSpark/greenlight-v2/blob/master/imports/api/webhooks/server/webhooks.js#L332]
SIGNUP_API_ENDPOINT=https://us-central1-operationspark-org.cloudfunctions.net/session-signups


HIGHSCHOOL_FORM_RESPONSES_NAME=[GOOGLE_SPREADSHEET_TAB_NAME]
HIGHSCHOOL_FORM_RESPONSES_ID=[GOOGLE_SPREADSHEET_ID]

WUFOO_HOST=[WUFOO_HOST_NAME]
WUFOO_CONTACT_FORM_ID=[WUFOO_CONTACT_FORM_ID]

# Token should be base64 encoding of wufoo username and choose any password (username === api key).
## base64('username:password')
WUFOO_TOKEN=[BASE64_WUFOO_TOKEN]

GOOGLE_API_KEY=[GOOGLE_API_KEY]

# Goole Service Account
## JSON.stringify object containing the `private_key` and `client_email` for the service account
## `JSON.stringify({ private_key: "...", client_email: "SERVICE_ACCOUNT_NAME@ORGANIZATION.iam.gserviceaccount.com" })`

GOOGLE_SERVICE_ACCOUNT=[STRINGIFIED_GOOGLE_SERVICE_ACCOUNT_CREDS]


